body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: dashed 2px;
    border-width: 1px solid #bbb;
    padding: 2%;
    background-color: #e6f2ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;    
}

section{
    padding: 1rem;
    background-color: #fff;
}